.bgCard{
    background-color: var(--color-light-green);
    padding : 10%;
    margin-top:10%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap:20px;
    position: relative;
}

.sideContent{
   /*  position: absolute;
    top : 10%;
    right: 10%; */
    width: 100%;
    text-align: right;
    height:30%;
    
}

.mainContent p span{
    font-weight:700;
}
.mainContent form{
    margin:5% 0;
}
.mainContent div{
    margin: 2% 0;
}
.mainContent form div{
    width:100%;
}
.mainContent button{
    margin : 2% 0;
}

.divider{
    display: block;
    margin : 15% 0;
}
.divider::before,.divider::after{
    content: '';
    display: inline-block;
    width:calc(50% - 25px);
    border-top:1px solid var(--color-dark-green);
    margin: 0 5px;
    transform: translateY(-0.4em);
}
#registerDiv{
    text-align: right;
}
#registerDiv button{
    
    float:right;
}