header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

    border-bottom: 3px solid #213B1C;
    padding-bottom:10px;
}
.homeLink{
    text-align : left;
}
#logo{
    width:55%;
}
#desktopMenu{
    display: none;
}

/*Styles for > mobile width*/

@media screen and (min-width:768px){
    
    #logo{
        width:65%;
    }
    #desktopMenu{
        display: block;
        min-width:30%;
    }
}

