@tailwind base;
@tailwind components;
@tailwind utilities;
/*Global Color Pallete*/
:root{
  --color-dark-green :#36592F;
  --color-orange : #e48c3c;
  --color-light-green : #CDCD8A;
  --color-beige : #EFE7D2;
  --color-darkest-green : #213B1C;
  --color-white : white;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  padding :3% 5%;
  font-family: 'Prompt', sans-serif;
  color:var(--color-darkest-green);
  background-color: var(--color-beige);
  font-size:14px;
}
main{
  display: flex;
  justify-content: flex-start;
}
button{
  border:none;
  font-family: 'Prompt', sans-serif;
  font-size:1em;
}

a{
  color:inherit;
  text-decoration: none;
}
h1,h2.h3.h4.h5,h6,p{
  margin:0;
}
.input-style{
    @apply w-full px-0 bg-transparent border-0 border-b-2 border-orange focus:ring-0 focus:border-orange;
}
.form-divider::before,.form-divider::after{
  content: '';
    display: inline-block;
    width:calc(50% - 25px);
    border-top:1px solid var(--color-dark-green);
    margin: 0 5px;
    transform: translateY(-0.4em);
}
/*Styles for tablet and desktop*/
@media screen and (min-width:768px){
  body{
    font-size:20px;
  }
  main{
    justify-content: center;
  }
}